.row-header {
  margin: 0px auto;
  padding: 0px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
}
@media (min-width: 576px) {
  .navbar-expand-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-right: -32%;
  }
  .navbar-brand {
    margin-left: -23%;
  }
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
.navbar-dark {
  background-color: #512da8;
}

.indexBody {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.card-header {
  cursor: pointer;
}
